header {
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: #fff;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  font-size: 14px;
  padding: 0 24px;
  width: 1152px;
  margin: 0 auto;
}
header .header-content h1 {
  position: relative;
}
header .header-content h1:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 144px;
  width: 1px;
  height: 12px;
  background: #999;
}
header .header-content h1 a {
  display: block;
  width: 120px;
  height: auto;
  background: url("../images/logo.png") no-repeat;
  background-size: 120px auto;
  text-indent: -999em;
}
header .header-content h1 span {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: 6px;
  left: 168px;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
}
